In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,North Bend,43.4065,-124.2243,58.91,97,90,4.61,US,2021-08-05 14:29:17
1,1,Fairbanks,64.8378,-147.7164,60.76,75,1,8.05,US,2021-08-05 14:25:05
2,2,Cape Town,-33.9258,18.4232,66.11,66,20,1.99,ZA,2021-08-05 14:29:18
3,3,Ushuaia,-54.8000,-68.3000,49.62,61,0,4.61,AR,2021-08-05 14:29:18
4,4,Hobart,-42.8794,147.3294,53.46,64,98,4.00,AU,2021-08-05 14:29:19

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [27]:
city_data_df[city_data_df['Max Temp'] ==60.76].head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Fairbanks,64.8378,-147.7164,60.76,75,1,8.05,US,2021-08-05 14:25:05
380,380,Pacific Grove,36.6177,-121.9166,60.76,94,90,4.00,US,2021-08-05 14:32:11

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))