In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,North Bend,43.4065,-124.2243,58.91,97,90,4.61,US,2021-08-05 14:29:17
1,1,Fairbanks,64.8378,-147.7164,60.76,75,1,8.05,US,2021-08-05 14:25:05
2,2,Cape Town,-33.9258,18.4232,66.11,66,20,1.99,ZA,2021-08-05 14:29:18
3,3,Ushuaia,-54.8000,-68.3000,49.62,61,0,4.61,AR,2021-08-05 14:29:18
4,4,Hobart,-42.8794,147.3294,53.46,64,98,4.00,AU,2021-08-05 14:29:19

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
city_data_df[city_data_df['Max Temp'] ==60.76].head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Fairbanks,64.8378,-147.7164,60.76,75,1,8.05,US,2021-08-05 14:25:05
380,380,Pacific Grove,36.6177,-121.9166,60.76,94,90,4.00,US,2021-08-05 14:32:11

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Fairbanks,64.8378,-147.7164,60.76,75,1,8.05,US,2021-08-05 14:25:05
2,2,Cape Town,-33.9258,18.4232,66.11,66,20,1.99,ZA,2021-08-05 14:29:18
6,6,Sovetskiy,61.3614,63.5842,78.26,60,100,4.34,RU,2021-08-05 14:29:20
9,9,Jamestown,42.0970,-79.2353,73.33,73,75,8.05,US,2021-08-05 14:29:21
12,12,Puerto Ayora,-0.7393,-90.3518,73.36,88,70,7.00,EC,2021-08-05 14:29:22
13,13,Rikitea,-23.1203,-134.9692,73.29,75,73,18.28,PF,2021-08-05 14:29:23
14,14,Nikolskoye,59.7035,30.7861,67.89,47,100,6.80,RU,2021-08-05 14:29:23
15,15,Mahebourg,-20.4081,57.7000,70.25,68,40,11.50,MU,2021-08-05 14:29:23
16,16,Hasaki,35.7333,140.8333,77.40,88,50,3.78,JP,2021-08-05 14:29:24
17,17,Vaini,-21.2000,-175.2000,60.96,94,75,2.30,TO,2021-08-05 14:29:24

In [22]:
# This assigns the null countries (4) to the variable null_country - will think about removing it later
null_country = preferred_cities_df.loc[preferred_cities_df['Country'].isnull()]

In [25]:
# Drop the null country value rows
preferred_cities_df = preferred_cities_df.dropna()

In [26]:
# Verify there are now no-nulls
preferred_cities_df.count()

City_ID       255
City          255
Lat           255
Lng           255
Max Temp      255
Humidity      255
Cloudiness    255
Wind Speed    255
Country       255
Date          255
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1      Fairbanks      US     60.76  64.8378 -147.7164
2      Cape Town      ZA     66.11 -33.9258   18.4232
6      Sovetskiy      RU     78.26  61.3614   63.5842
9      Jamestown      US     73.33  42.0970  -79.2353
12  Puerto Ayora      EC     73.36  -0.7393  -90.3518
13       Rikitea      PF     73.29 -23.1203 -134.9692
14    Nikolskoye      RU     67.89  59.7035   30.7861
15     Mahebourg      MU     70.25 -20.4081   57.7000
16        Hasaki      JP     77.40  35.7333  140.8333
17         Vaini      TO     60.96 -21.2000 -175.2000

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Fairbanks,US,60.76,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
2,Cape Town,ZA,66.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town
6,Sovetskiy,RU,78.26,61.3614,63.5842,Apartment on Kievskaya 29
9,Jamestown,US,73.33,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Puerto Ayora,EC,73.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]